@model Author


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=" @Model.Photo" alt="@Model.Name" title="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>

        

        @Html.ActionLink("Details", "Details", new { Id=Model.Id}, new { @class = "btn btn-primary" })


        <a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
        <a asp-action="delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    </div>
</div>

